html {
  text-rendering: optimizelegibility;
}

body {
  overflow-y: auto;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial,
    sans-serif !important;
  font-size: 14px;
  color: var(--vp-c-text-1);
}

h1[tabindex='-1'] {
  font-size: 30px !important;
}

h3[tabindex='-1'] {
  margin-top: 28px !important;
}

h2[tabindex='-1'] {
  margin-top: 38px !important;
}

.VPHomeHero .container {
  font-family: Comic Sans MS;
}

/* navbar and home title */
.VPNavBarTitle a,
.VPHero .container .clip {
  font-family: Comic Sans MS;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  color: transparent !important;
}

/* home hero logo bg */
.VPHero .container .image .image-container .image-bg {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  filter: var(--vp-home-hero-image-filter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--vp-c-text-1) !important;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

@media (min-width: 768px) {
  .VPHome {
    padding-bottom: 60px !important;
  }
}

span {
  font-style: normal !important;
}

.vp-doc a {
  text-decoration: none !important;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  ) !important;
  background-repeat: no-repeat !important;
  background-position: bottom left !important;
  background-size: 0 1px !important;
  transition: background-size 300ms ease-in-out !important;
  &:hover {
    background-size: 100% 1px !important;
  }
}

.vp-doc .custom-block code {
  font-weight: normal;
}
